[submodule "deps/FNA"]
	path = deps/FNA
	url = https://github.com/FNA-XNA/FNA.git
[submodule "deps/ResourceCache"]
	path = deps/ResourceCache
	url = https://github.com/GlaireDaggers/ResourceCache
[submodule "deps/ContentPipe"]
	path = deps/ContentPipe
	url = git@github.com:GlaireDaggers/ContentPipe.git
[submodule "deps/bepuphysicsv2"]
	path = deps/bepuphysicsv2
	url = https://github.com/bepu/bepuphysics2.git
[submodule "deps/ImGui.NET"]
	path = deps/ImGui.NET
	url = https://github.com/GlaireDaggers/ImGui.NET
[submodule "deps/Open-World-Builder"]
	path = deps/Open-World-Builder
	url = git@github.com:GlaireDaggers/Open-World-Builder.git
[submodule "deps/FontStashSharp"]
	path = deps/FontStashSharp
	url = git@github.com:FontStashSharp/FontStashSharp.git
